.application-form {
	max-width: 700px;
	width: 100%;
	margin: 50px auto;
	@media(max-width: 568px) {
		padding-left: 2%;
		padding-right: 2%;
	}
	.form-title {
		font-size: 18px;
		margin-bottom: 50px!important;
		display: block;
	}
    .form-body {
    	position: relative;
		max-width: 600px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
    	.form-row {
    		display: flex;
    		flex-wrap: wrap;
    		align-items: center;
    		justify-content: space-between;
    		margin-bottom: 20px;
    		label {
    			display: block;
    			font-weight: 900;
    			&.child-label {
				    max-width: 50px;
				    width: 100%;
				}
    		}
    		.row-l {
			    flex: 0 0 35%;
			    max-width: 35%;
			    padding-right: 4%;
    			padding-left: 2%;
    			@media(max-width: 568px) {
					flex: 0 0 25%;
					max-width: 25%;
					padding-right: 2%;
					padding-left: 0;
    			}
			    label {
			    	text-align: right;
			    }
			}
			.row-r {
			    flex: 0 0 65%;
			    max-width: 65%;
			    @media(max-width: 568px) {
			    	flex: 0 0 75%;
			    	max-width: 75%;
			    }
			}
    	}
    }
    .row-flex {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    text-align: center;
	    &.row-flex-20 {
	    	margin-left: -10px;
	    	margin-right: -10px;
	    	.row-1, .row-4, .row-5, .row-6, .row-7, .row-8, .row-11 {
	    		padding-left: 10px;
	    		padding-right: 10px;
	    	}
	    }
	    @media(max-width: 568px) {
		    &.row-flex-5-xs {
		    	margin-left: -5px;
	    		margin-right: -5px;
	    		.row-1, .row-4, .row-5, .row-6, .row-7, .row-8, .row-11 {
	    			padding-left: 5px;
	    			padding-right: 5px;
	    		}
		    }
		}
		.row-1 {
			flex: 0 0 10%;
			max-width: 10%;
		}
		.row-4 {
			flex: 0 0 30%;
	    	max-width: 30%;
		}
		.row-5 {
			flex: 0 0 40%;
		    max-width: 40%;
		    .row-flex {
		    	padding-left: 10px;
		    }
		}
	    .row-6 {
	    	flex: 0 0 50%;
	    	max-width: 50%;
	    }
	    .row-7 {
	    	flex: 0 0 60%;
	    	max-width: 60%;
	    }
	    .row-8 {
	    	flex: 0 0 70%;
	    	max-width: 70%;
	    	.input-field {
	    		flex: 0 0 100%;
			    max-width: 100%;
			    padding-left: 10px;
				padding-right: 8px;
	    	}
	    }
	    .row-11 {
	    	flex: 0 0 90%;
	    	max-width: 90%;
	    }
	    .row-12 {
	    	flex: 0 0 100%!important;
	    	max-width: 100%!important;
	    	.input-field {
	    		flex: 0 0 100%;
			    max-width: 100%;
			}
	    }
	}
	@media(max-width: 568px) {
		.row-12_568 {
	    	flex: 0 0 100%!important;
	    	max-width: 100%!important;
	    }
	}
	.inputs {
		width: 100%;
		padding: 5px 4%;
		border: 1px solid #A7A9AC;
		border-radius: 4px;
		&.checkbox {
			width: 20px;
		}
	}
	.max-100 {
		max-width: 100%!important;
		width: 100%;
	}

	.form-info {
		position: relative;
		padding: 0 40px 20px 40px;
		border: 1px solid #006838;
		border-radius: 8px;
		margin-top: 50px;
		margin-bottom: 50px;
		.info-title {
		    font-size: 24px;
		    color: green;
		    position: relative;
		    text-align: center;
		    top: -16px;
		    background-color: #fff;
		    display: block;
		}
		.form_list {
			list-style: disc;
			li {
				margin-bottom: 20px;
				font-weight: 900;
			}
		}
	}
	.input-btn {
		position: relative;
		max-width: 168px;
		width: 100%;
		margin: auto 10px;
		&.input-submit {
			.form-btn {
				background-color: #8DC63F;
				color: #fff;
			}
		}
		.form-btn {
			display: block;
			border: 0;
			cursor: pointer;
			border-radius: 4px;
			font-size: 14px;
			font-weight: 900;
			text-align: center;
			width: 100%;
			padding: 8px 2%;
			transition: all ease-in-out .3s;
			&:hover {
				opacity: .6;
				transition: all ease-in-out .3s;
			}
		}
	}
}
.tl {
	text-align: left;
}

.jc-fe {
	justify-content: flex-end!important;
}
.jc-c {
	justify-content: center!important;
}
.pr-0 {
	padding-right: 0!important;
}
.pl-0 {
	padding-left: 0!important;
}
.ai-bl {
	align-items: baseline!important;
}
@media(max-width: 568px) {
	.fs-10_568 {
		font-size: 10px;
		line-height: 12px;
	}
	.pl-0_568 {
		padding-left: 0!important;
	}
	.tl_568 {
		text-align: left!important;
	}
	.tc_568 {
		text-align: center;
	}
	.f-wrap_568 {
		flex-wrap: wrap;
	}
}

.drop-down {
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid #A7A9AC;
	border-radius: 4px;
    padding: 5px 2%;
  	appearance: none;
	background-image: none;
	word-break: normal;

	&::-ms-expand {
		display: none;
	}
}
.select-div {
	position: relative;
	&:after {
	  	content: '';
	    right: 0;
	    top: 0;
	    width: 40px;
	    height: 100%;
	    position: absolute;
	    pointer-events: none;
	    border-left: 0;
	}
	&:before {
    	content: '';
	    position: absolute;
		top: 28%;
		right: 10px;
		border-top: 14px solid #000;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
	    pointer-events: none;
	    z-index: 1;
	}
}

.checkbox {
	position: relative;
	.wpcf7-form-control-wrap {
		top: -14px;
	}
	label {
		position: relative;
		padding-left: 25px;
		cursor: pointer;
		font-size: 16px;
		user-select: none;
		transition: all ease-in-out .3s;
		@media(max-width: 568px) {
			font-size: 12px;
			display: inline-block!important;
		}
		input[type="checkbox"]{
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		.checkmark, .wpcf7-list-item-label {
			position: absolute;
			top: 2px;
			left: 0;
			height: 14px;
			width: 14px;
			border: 1px solid #A7A9AC;
			&:after {
				content: "";
				position: absolute;
				display: none;
				left: 4px;
				top: 1px;
				width: 4px;
				height: 8px;
				border: solid #000;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}

		&:hover input ~ .checkmark, &:hover input ~ .wpcf7-list-item-label {
		  background-color: #D5E6A8;
		  transition: all ease-in-out .3s;
		}

		input:checked ~ .checkmark, nput:checked ~ .wpcf7-list-item-label {
		  background-color: #D5E6A8;
		}

		input:checked ~ .checkmark:after, input:checked ~ .wpcf7-list-item-label:after {
		  display: block;
		}
	}
}
