@charset "UTF-8";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

$base-font : "Yu Mincho", "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN", "ヒラギノ角ゴ Pro W3", Meiryo, Osaka, "MS PGothic", arial, helvetica, sans-serif;

body {
  	font-family: $base-font;
  	line-height: 24px;
  	font-size: 16px;
  	background-color: $base-color;
  	font-weight: normal;
  	margin: 0 auto;
  	color: $black;
}

@for $i from 1 through 6 {
    h#{$i} {
        line-height: normal;
    } 
}
.wrp {
	position: relative;
	overflow: hidden;
}

.is-wide {
  width: 100%;
}

#first-fold{
	position: relative;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 100px;
	padding-bottom: 50px;
	&::after{
		content: "";
		background: url('/assets/img/slider-bg.jpg');
		width: 1350px;
		height: 160px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		@include mq(max, 768){
			width: 100%;
			bottom: 15px;
		}
	}
    .main-header{
		padding-left: 0;
		padding-right: 150px;
		@include mq(max, 768){
			position: fixed;
			width: 100%;
			z-index: 9;
			background: #fff;
			box-shadow: 0px 0px 18px #4e4d4d;
		}
        .top-header{
			padding-top: 18px;
			padding-bottom: 18px;
			padding-left: 30px;
            .logo{
                display: inline-block;
				margin-right: 35px;
				@include mq(max, 1248){
					margin-right: 20px;
				}
				@include mq(max, 768){
					display: block;
					margin-bottom: 15px;
				}
                img{
                    width: 246px;
					height: 38px;
					@include mq(max, 580){
						width: 170px;
						height: 25px;
					}
                }
            }
            .eneos-logo{
                display: inline-block;
                img{
                    width: 240px;
					height: 30px;
					@include mq(max, 580){
						width: 200px;
						height: 25px;
					}
                }
            }
            .phone-number{
				float: right;
				margin-top: -24px;
				margin-right: 20px;
				@include mq(max, 1355){
					margin-top: -14px;
				}
				@include mq(max, 1200){
					display: none;
				}
                .first-pn{
					margin-top: -10px;
					border-top: 1px solid #000;
					display: inline-block;
					margin-right: 10px;
                    h3{
						line-height: 1.3;
						@include mq(max, 1248){
							line-height: 2;
						}
                        .fuel{
                            font-size: 16px;
							font-weight: 600;
							position: relative;
							top: -9px;
							margin-right: 15px;
							@include mq(max, 1248){
								top: -3px;
							}
                        }
                        .number{
                            font-size: 40px;
							font-family: $oswald;
							font-weight: 400;
							margin-right: 15px;
							@include mq(max, 1355){
								font-size: 30px;
							}
							@include mq(max, 1248){
								font-size: 25px;
							}
						}
						.office{
                            font-size: 16px;
							font-weight: 600;
							position: relative;
							top: -9px;
							@include mq(max, 1248){
								top: -3px;
							}
                        }
                    }
				}
				.second-pn{
					display: inline-block;
					.time{
						font-size: 14px;
						position: relative;
						top: 5px;
						.hours{
							margin-right: 15px;
						}
					}
					h3{
						font-size: 40px;
						font-family: $oswald;
						font-weight: 400;
						line-height: 1;
						@include mq(max, 1355){
							font-size: 30px;
						}
						@include mq(max, 1248){
							font-size: 25px;
						}
					}
				}
            }
		}
		.nav-menu{
			position: relative;
			background: rgba(0,0,0,0.7);
			padding: 8.5px;
			text-align: center;
			z-index: 1;
			@include mq(max, 768){
				display: none;
			}
			.nav{
				li{
					list-style: none;
					display: inline-block;
					text-align: center;
					margin-right: 110px;
					@include mq(max, 1047){
						margin-right: 90px;
					}
					@include mq(max, 880){
						margin-right: 45px;
					}
					&:last-child{
						margin-right: 0;
					}
					a{
						text-decoration: none;
						font-size: 24px;
						font-family: $oswald;
						font-weight: 300;
						text-transform: uppercase;
						color: $white;
						@include mq(max, 1047){
							font-size: 18px;
						}
						.tag{
							font-size: 12px;
							display: block;
							color: #7d7d7d;
						}
					}
				}
			}
		}
		.banner{
			margin-top: -70px;
			background: url('/assets/img/eneos-banner.jpg');
			height: 920px;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			display: table;
			.banner-text{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				.faster{
					h2{
						font-size: 72px;
						color: $white;
						position: relative;
						z-index: 1;
						&::before{
							content: "";
							background: url('/assets/img/black-rgb.png');
							position: absolute;
							top: 0;
							left: 0;
							width: 1290px;
							height: 108px;
							z-index: -1;
						}
					}
					h4{
						font-size: 30px;
						color: $white;
						padding: 9px 0;
						position: relative;
						z-index: 1;
						&::before{
							content: "";
							background: url('/assets/img/orange-rgb.png');
							position: absolute;
							top: 0;
							right: 0;
							width: 1290px;
							height: 108px;
							z-index: -1;
						}
					}
				}
				.truck{
					position: absolute;
					left: 20%;
				}
			}
		}
	}
	.contact-us{
		position: absolute;
		top: 0px;
		right: 0;
		a{
			display: inline-block;
			img{
				height: 150px;
				width: 150px;
				z-index: 1;
				position: relative;
				@include mq(max, 768){
					height: 131px;
				}
				@include mq(max, 580){
					height: 113px;
					width: 113px;
				}
			}
		}
	}
	.main-slider{
		margin-top: -70px;
		padding-left: 0;
		padding-right: 150px;
		@include mq(max, 1047){
			margin-top: -67px;
		}
		@include mq(max, 768){
			margin-top: 0px;
			padding-right: 0;
		}
		.banner-slider{
			.slider-box{
				img{
					width: 100%;
				}
			}
		}
		.slick-dots{
			li{
				width: 75px;
				button{
					width: 75px;
					&::before{
						content: url('/assets/img/pager.jpg');
						width: 75px;
						opacity: 1;
					}
				}
			}
			.slick-active{
				button{
					&::before{
						content: url('/assets/img/pager-active.jpg');
						opacity: 1;
					}
				}
			}
		}
		.slick-arrow{
			display: none !important;
		}
	}
}

#toggle {
	width: 40px;
	height: 30px;
	margin: 10px auto;
	display: none;
	@include mq(max, 768){
		display: block;
		position: absolute;
		right: 200px;
		top: 38px;
	}
	@include mq(max, 580){
		right: 140px;
		top: 30px;
	}
	div{
		width: 100%;
		height: 5px;
		background: #000;
		margin: 4px auto;
		transition: all 0.3s;
		backface-visibility: hidden;
	}
	&.on{
		.one{
			transform: rotate(45deg) translate(5px, 5px);
		}
		.two{
			opacity: 0;
		}
		.three{
			transform: rotate(-45deg) translate(7px, -8px);
		}
	}
}
#menu {
	display: none;
	position: fixed;
	height: 100%;
	z-index: 1;
	top: 130px;
	right: 0;
	width: 50%;
	padding: 15px 50px 15px 15px;
	background: #f0f0f0;
	@include mq(max, 580){
		top: 112px;
	}
	.toggle-menu{
		li{
			margin-bottom: 30px;
			a{
				font-family: $oswald;
				font-size: 25px;
				font-weight: 500;
				text-transform: uppercase;
				color: #000;
				text-decoration: none;
				.tag{
					display: block;
					font-size: 14px;
					font-weight: 300;
				}
			}
		}
	}
}

#delivery{
	background: url('/assets/img/delivery-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: visible;
	.overlay{
		padding: 70px 0;
		background: rgba(0,0,0,0.7);
	}
	.delivery-box{
		position: relative;
		z-index: 1;
		.title{
			margin-bottom: 50px;
			h3{
				font-size: 48px;
				font-weight: 400;
				font-family: $oswald;
				text-transform: uppercase;
				color: $white;
				width: 300px;
				border-bottom: 2px solid $white;
				padding-bottom: 10px;
				margin-bottom: 20px;
				span{
					color: #eb6100;
				}
			}
			h4{
				font-size: 18px;
				color: $white;
				font-family: $base-font;
			}
		}
		.text-site{
			margin-bottom: 40px;
			p{
				color: $white;
				font-size: 16px;
			}
		}
		.inquiry{
			color: #f8b551;
			margin-bottom: 60px;
			.text{
				font-size: 18px;
				font-weight: bold;
				margin-right: 20px;
				display: inline-block;
				position: relative;
				top: -2px;
				@include mq(max, 448){
					font-size: 14px;
				}
			}
			.number{
				font-family: $oswald;
				font-size: 60px;
				font-weight: 500;
				@include mq(max, 448){
					font-size: 45px;
				}
			}
		}
		.details-btn{
			a{
				color: #000;
				background: #fff;
				display: inline-block;
				text-decoration: none;
				font-size: 14px;
				padding: 20px;
				width: 300px;
				text-align: center;
				font-weight: 500;
			}
		}
	}
	.eneos-truck{
		position: absolute;
		top: -30px;
		right: 0;
		z-index: 0;
		img{
			width: 830px;
			height: 520px;
			@include mq(max, 998){
				width: 100%;
				height: 350px;
			}
		}
	}
}

#area{
	background: #000;
	padding: 40px 0;
	position: relative;
	&::before{
		content: "";
		background: url('/assets/img/linear.png');
		position: absolute;
		top: 0;
		height: 383px;
		width: 1000px;
		@include mq(max, 998){
			width: 100%;
		}
	}
	.area-box{
		color: $white;
		padding: 20px;
		background: url('/assets/img/area-bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 35px;
		@include mq(max, 767){
			position: absolute;
			top: 0;
			width: 100%;
		}
		.title{
			h3{
				font-size: 48px;
				font-family: $oswald;
				font-weight: 400;
				text-transform: uppercase;
				border-bottom: 2px solid $white;
				padding-bottom: 10px;
				margin-bottom: 20px;
				.area{
					margin-right: 35px;
				}
				.a{
					color: #fff799;
				}
				.da{
					font-size: 18px;
				}
			}
		}
		.content{
			p{
				font-size: 13px;
				span{
					margin-left: 80px;
				}
			}
		}
	}
	.circle{
		text-align: center;
	}
}

#company{
	padding: 70px 0;
	margin: 50px 0;
	position: relative;
	&::before{
		content: "";
		background: url('/assets/img/company-bg.jpg');
		position: absolute;
		top: 0;
		width: 100%;
		height: 486px;
		@include mq(max, 768){
			width: 100%;
		}
	}
	.company-box{
		@include mq(max, 767){
			margin-bottom: 30px;
		}
		.title{
			h3{
				font-size: 48px;
				font-weight: 500;
				font-family: $oswald;
				text-transform: uppercase;
				width: 300px;
				border-bottom: 2px solid #000;
				padding-bottom: 10px;
				margin-bottom: 15px;
				span{
					color: #eb6100;
				}
			}
		}
		.profile{
			margin-bottom: 45px;
			p{
				font-size: 18px;
			}
		}
		.company-btn{
			a{
				background: #000;
				color: $white;
				font-size: 14px;
				width: 300px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				padding: 15px;
			}
		}
	}
	.truck-yt{
		img{
			width: 100%;
		}
	}
}

#advantage{
	padding-top: 190px;
	padding-bottom: 40px;
	margin-top: 100px;
	background: #000;
	position: relative;
	.md-8{
		@include mq(max, 998){
			display: none;
		}
	}
	&::before{
		content: "";
		background: url(/assets/img/advantage-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: -50px;
		height: 420px;
		width: 900px;
		@include mq(max, 998){
			width: 350px;
			height: 150px;
			top: 30px;
		}
		@include mq(max, 405){
			width: 300px;
		}
	}
	.advantage-box{
		color: $white;
		.title{
			h3{
				font-size: 48px;
				font-family: $oswald;
				font-weight: 400;
				text-transform: uppercase;
				border-bottom: 2px solid $white;
				padding-bottom: 10px;
				margin-bottom: 18px;
				span{
					color: #eb6100;
				}
			}
		}
		.content{
			p{
				font-size: 16px;
				margin-bottom: 38px;
			}
			.btn{
				a{
					font-size: 14px;
					color: #000;
					text-decoration: none;
					background: $white;
					display: inline-block;
					width: 300px;
					text-align: center;
					padding: 15px;
				}
			}
		}
	}
}

#recruit{
	padding-top: 50px;
	padding-bottom: 30px;
	margin-bottom: 90px;
	background: #000;
	position: relative;
	@include mq(max, 998){
		padding-top: 160px;
		margin-top: -1px;
	}
	&::after{
		content: "";
		position: absolute;
		top: 40px;
		right: 0;
		background: url('/assets/img/recruit-bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 420px;
		width: 900px;
		@include mq(max, 998){
			width: 350px;
			height: 150px;
			top: 0;
		}
		@include mq(max, 425){
			width: 300px;
		}
	}
	.recruit-box{
		color: $white;
		.title{
			h3{
				font-size: 48px;
				text-transform: uppercase;
				font-family: $oswald;
				font-weight: 400;
				width: 360px;
				text-align: right;
				border-bottom: 2px solid $white;
				padding-bottom: 10px;
				margin-bottom: 20px;
				@include mq(max, 767){
					width: 100%;
				}
				span{
					color: #eb6100;
				}
			}
		}
		.content{
			p{
				font-size: 14px;
				text-align: right;
				margin-bottom: 25px;
			}
			.btn{
				@include mq(max, 767){
					float: right;
				}
				a{
					font-size: 14px;
					text-decoration: none;
					background: $white;
					color: #000;
					display: inline-block;
					width: 360px;
					padding: 15px;
					text-align: center;
				}
			}
		}
	}
}

#business{
	padding-top: 70px;
	padding-bottom: 115px;
	position: relative;
	&::before{
		content: "";
		background: #eeeeee;
		position: absolute;
		top: 0;
		left: 0;
		height: 550px;
		width: 960px;
		@include mq(max, 768){
			width: 100%;
		}
	}
	.title{
		text-align: center;
		margin-bottom: 50px;
		h3{
			font-size: 48px;
			font-family: $oswald;
			font-weight: 400;
			text-transform: uppercase;
			display: inline-block;
			width: 300px;
			border-bottom: 2px solid #000;
			padding-bottom: 10px;
			margin-bottom: 18px;
			span{
				color: #eb6100;
			}
		}
		p{
			font-size: 18px;
		}
	}
	.business-slider{
		.slider-img{
			position: relative;
			img{
				width: 100%;
			}
			p{
				position: absolute;
				top: 45%;
				left: 0;
				width: 100%;
				text-align: center;
				color: $white;
			}
		}
		.slick-arrow{
			@include mq(max, 768){
				display: none !important;
			}
		}
		.slick-prev{
			left: -50px;
			top: 45%;
			&::before{
				content: url('/assets/img/arrow-left.png');
			}
		}
		.slick-next{
			right: -50px;
			top: 45%;
			&::before{
				content: url('/assets/img/arrow-right.png');
			}
		}
	}
}

#news{
	padding: 70px 0;
	.latest-box{
		.title{
			margin-bottom: 50px;
			h3{
				font-family: $oswald;
				font-size: 48px;
				font-weight: 400;
				text-transform: uppercase;
				width: 300px;
				border-bottom: 2px solid #000;
				padding-bottom: 10px;
				margin-bottom: 20px;
				span{
					color: #eb6100;
				}
			}
			p{
				font-size: 18px;
			}
		}
		.btn{
			a{
				font-size: 14px;
				color: $white;
				background: #000;
				padding: 15px;
				display: inline-block;
				text-decoration: none;
				width: 300px;
				text-align: center;
			}
		}
	}
	.news-box{
		@include mq(max, 767){
			margin-top: 30px;
		}
		ul{
			li{
				padding: 25px;
				border-top: 2px solid #000;
				&:last-child{
					border-bottom: 2px solid #000;
				}
				.date{
					font-size: 16px;
					font-weight: 500;
					font-family: $oswald;
					width: 90px;
					display: inline-block;
				}
				.box{
					color: #eb6100;
					border: 2px solid #eb6100;
					font-size: 12px;
					margin-right: 30px;
					width: 80px;
					display: inline-block;
					text-align: center;
				}
				.text{
					font-size: 13px;
					@include mq(max, 767){
						display: block;
						margin-top: 10px;
					}
				}
			}
		}
	}
}

#main-footer{
	padding: 50px 0;
	position: relative;
	background: #000;
	color: $white;
	border-top: 3px solid #eb6100;
	@include mq(max, 767){
		display: none;
	}
	.title{
		h5{
			font-size: 18px;
			padding: 0 10px 20px 10px;
			height: 40px;
		}
	}
	.menu-list{
		padding: 10px;
		border-top: 1px solid #7d7d7d;
		ul{
			.name{
				font-size: 18px;
				margin-bottom: 25px;
			}
			li{
				margin-bottom: 15px;
				a{
					color: $white;
					font-size: 14px;
					text-decoration: none;
				}
			}
		}
	}
	.menu-btn{
		padding: 0;
		border: 0;
		ul{
			li{
				margin-bottom: 0;
				border-top: 1px solid #7d7d7d;
				&:last-child{
					border-bottom: 1px solid #7d7d7d;
				}
				a{	
					padding: 15px 10px;
					font-size: 18px;
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
	.go-top{
		position: absolute;
		top: -30px;
		right: 160px;
		@include mq(max, 767){
			display: none;
		}
		a{
			font-size: 14px;
			color: $white;
			background: #f39800;
			text-align: center;
			text-decoration: none;
			padding: 15px;
			width: 245px;
			display: inline-block;
			box-shadow: 0px 4px 10px #333;
		}
	}
}

#copyright{
	background: #1b1b1b;
	padding: 15px 0;
	@include mq(max, 725){
		text-align: center;
	}
	.copyright-btn{
		float: left;
		@include mq(max, 725){
			float: none;
			margin-bottom: 10px;
		}
		ul{
			li{
				display: inline-block;
				border-right: 1px solid $white;
				line-height: 1;
				padding-right: 20px;
				padding-left: 20px;
				&:last-child{
					border-right: 0;
				}
				&:first-child{
					padding-left: 0;
				}
				a{
					font-size: 13px;
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
	.copyright-text{
		float: right;
		@include mq(max, 725){
			float: none;
		}
		p{
			font-size: 12px;
			font-family: "Arial";
			color: $white;
			font-weight: 300;
		}
	}
}