/* Containers
*
* How to use container classes :
*
*  Ex: <div class="cntr-1200 mlr-auto"> // adding mlr-auto (margin-left and right : auto to center the container)</div>
*
*/

$cntr : 1920 1500 1350 1300 1290 1261 1200 1140 1000; /* you can add custom container size here */
@each $current-cntr in $cntr {
	$i: index($cntr, $current-cntr);
	
	@if nth($cntr, $i) > 3 {
		.cntr-#{nth($cntr, $i)} { 
			position: relative;
        	max-width: $current-cntr+px;
        	width: 100%;

        	@include mq(max, $current-cntr) {
        		padding-left: 2%;
        		padding-right: 2%;
        	}
        	
	    }
	}
}