.application-form {
  max-width: 700px;
  width: 100%;
  margin: 50px auto;
}

@media (max-width: 568px) {
  .application-form {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.application-form .form-title {
  font-size: 18px;
  margin-bottom: 50px !important;
  display: block;
}

.application-form .form-body {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.application-form .form-body .form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.application-form .form-body .form-row label {
  display: block;
  font-weight: 900;
}

.application-form .form-body .form-row label.child-label {
  max-width: 50px;
  width: 100%;
}

.application-form .form-body .form-row .row-l {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
  padding-right: 4%;
  padding-left: 2%;
}

@media (max-width: 568px) {
  .application-form .form-body .form-row .row-l {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding-right: 2%;
    padding-left: 0;
  }
}

.application-form .form-body .form-row .row-l label {
  text-align: right;
}

.application-form .form-body .form-row .row-r {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65%;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
}

@media (max-width: 568px) {
  .application-form .form-body .form-row .row-r {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

.application-form .row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.application-form .row-flex.row-flex-20 {
  margin-left: -10px;
  margin-right: -10px;
}

.application-form .row-flex.row-flex-20 .row-1, .application-form .row-flex.row-flex-20 .row-4, .application-form .row-flex.row-flex-20 .row-5, .application-form .row-flex.row-flex-20 .row-6, .application-form .row-flex.row-flex-20 .row-7, .application-form .row-flex.row-flex-20 .row-8, .application-form .row-flex.row-flex-20 .row-11 {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 568px) {
  .application-form .row-flex.row-flex-5-xs {
    margin-left: -5px;
    margin-right: -5px;
  }
  .application-form .row-flex.row-flex-5-xs .row-1, .application-form .row-flex.row-flex-5-xs .row-4, .application-form .row-flex.row-flex-5-xs .row-5, .application-form .row-flex.row-flex-5-xs .row-6, .application-form .row-flex.row-flex-5-xs .row-7, .application-form .row-flex.row-flex-5-xs .row-8, .application-form .row-flex.row-flex-5-xs .row-11 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.application-form .row-flex .row-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

.application-form .row-flex .row-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.application-form .row-flex .row-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.application-form .row-flex .row-5 .row-flex {
  padding-left: 10px;
}

.application-form .row-flex .row-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.application-form .row-flex .row-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.application-form .row-flex .row-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
}

.application-form .row-flex .row-8 .input-field {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 8px;
}

.application-form .row-flex .row-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}

.application-form .row-flex .row-12 {
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 100% !important;
      -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important;
  max-width: 100% !important;
}

.application-form .row-flex .row-12 .input-field {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 568px) {
  .application-form .row-12_568 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.application-form .inputs {
  width: 100%;
  padding: 5px 4%;
  border: 1px solid #A7A9AC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.application-form .inputs.checkbox {
  width: 20px;
}

.application-form .max-100 {
  max-width: 100% !important;
  width: 100%;
}

.application-form .form-info {
  position: relative;
  padding: 0 40px 20px 40px;
  border: 1px solid #006838;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.application-form .form-info .info-title {
  font-size: 24px;
  color: green;
  position: relative;
  text-align: center;
  top: -16px;
  background-color: #fff;
  display: block;
}

.application-form .form-info .form_list {
  list-style: disc;
}

.application-form .form-info .form_list li {
  margin-bottom: 20px;
  font-weight: 900;
}

.application-form .input-btn {
  position: relative;
  max-width: 168px;
  width: 100%;
  margin: auto 10px;
}

.application-form .input-btn.input-submit .form-btn {
  background-color: #8DC63F;
  color: #fff;
}

.application-form .input-btn .form-btn {
  display: block;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  width: 100%;
  padding: 8px 2%;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.application-form .input-btn .form-btn:hover {
  opacity: .6;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.tl {
  text-align: left;
}

.jc-fe {
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.jc-c {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.ai-bl {
  -webkit-box-align: baseline !important;
  -webkit-align-items: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
}

@media (max-width: 568px) {
  .fs-10_568 {
    font-size: 10px;
    line-height: 12px;
  }
  .pl-0_568 {
    padding-left: 0 !important;
  }
  .tl_568 {
    text-align: left !important;
  }
  .tc_568 {
    text-align: center;
  }
  .f-wrap_568 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.drop-down {
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #A7A9AC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 5px 2%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: none;
  word-break: normal;
}

.drop-down::-ms-expand {
  display: none;
}

.select-div {
  position: relative;
}

.select-div:after {
  content: '';
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-left: 0;
}

.select-div:before {
  content: '';
  position: absolute;
  top: 28%;
  right: 10px;
  border-top: 14px solid #000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  pointer-events: none;
  z-index: 1;
}

.checkbox {
  position: relative;
}

.checkbox .wpcf7-form-control-wrap {
  top: -14px;
}

.checkbox label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

@media (max-width: 568px) {
  .checkbox label {
    font-size: 12px;
    display: inline-block !important;
  }
}

.checkbox label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label .checkmark, .checkbox label .wpcf7-list-item-label {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #A7A9AC;
}

.checkbox label .checkmark:after, .checkbox label .wpcf7-list-item-label:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkbox label:hover input ~ .checkmark, .checkbox label:hover input ~ .wpcf7-list-item-label {
  background-color: #D5E6A8;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.checkbox label input:checked ~ .checkmark, .checkbox label nput:checked ~ .wpcf7-list-item-label {
  background-color: #D5E6A8;
}

.checkbox label input:checked ~ .checkmark:after, .checkbox label input:checked ~ .wpcf7-list-item-label:after {
  display: block;
}
