@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Header
*/
/*breakpoints
*

.test {
	color: blue;
	@include mq(min, 768) {
	
		color: red;
	}
}
*
*/
/* Import Fonts */
/* Oswald Fonts */
/*font sizes*/
/*extra small devices*/
.fs-16-xs {
  font-size: 16px;
}

/*medium devices*/
@media only screen and (min-width: 768px) {
  .fs-16 {
    font-size: 16px;
  }
}

/*line heights*/
/*extra small devices*/
.lh-24-xs {
  line-height: 24px;
}

/*medium devices*/
@media only screen and (min-width: 768px) {
  .lh-24 {
    line-height: 24px;
  }
}

/*font weights*/
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

/* MARGINS
*
* How to use margin classes :
*
*  Ex: <div class="ml-20 mr-20 mt-20 mb-20"> </div>
*	ml: margin-left
*	mr: margin-right
*	mb: margin-bottom
*	mt: margin-top
*/
.mlr-auto {
  /* this will set your container centered */
  margin-left: auto;
  margin-right: auto;
}

/* you can add custom margins here */
/*extra small devices*/
/*margin x&y*/
.margin-30-xs {
  margin: 30px 30px;
}

/* you can add custom margins here */
/*margin x left*/
.ml-30-xs {
  margin-left: 30px !important;
}

/*margin x right*/
.mr-30-xs {
  margin-right: 30px !important;
}

/* you can add custom margins here */
/*margin y top*/
.mt-30-xs {
  margin-top: 30px !important;
}

/*margin y bottom*/
.mb-30-xs {
  margin-bottom: 30px !important;
}

/*medium devices*/
@media only screen and (min-width: 768px) {
  /*extra small devices*/
  /*margin x&y*/
  .margin-30 {
    margin: 30px 30px;
  }
  /*margin x left*/
  .ml-30 {
    margin-left: 30px !important;
  }
  /*margin x right*/
  .mr-30 {
    margin-right: 30px !important;
  }
  /*margin y top*/
  .mt-30 {
    margin-top: 30px !important;
  }
  /*margin y bottom*/
  .mb-30 {
    margin-bottom: 30px !important;
  }
}

/* you can add custom paddings here */
/*extra small devices*/
/*padding x&y*/
.padding-30-xs {
  padding: 30px 30px;
}

/* you can add custom paddings here */
/*padding x left*/
.pl-5-xs {
  padding-left: 5px !important;
}

/*padding x right*/
.pr-5-xs {
  padding-right: 5px !important;
}

/*padding x left*/
.pl-10-xs {
  padding-left: 10px !important;
}

/*padding x right*/
.pr-10-xs {
  padding-right: 10px !important;
}

/*padding x left*/
.pl-15-xs {
  padding-left: 15px !important;
}

/*padding x right*/
.pr-15-xs {
  padding-right: 15px !important;
}

/*padding x left*/
.pl-20-xs {
  padding-left: 20px !important;
}

/*padding x right*/
.pr-20-xs {
  padding-right: 20px !important;
}

/*padding x left*/
.pl-25-xs {
  padding-left: 25px !important;
}

/*padding x right*/
.pr-25-xs {
  padding-right: 25px !important;
}

/*padding x left*/
.pl-30-xs {
  padding-left: 30px !important;
}

/*padding x right*/
.pr-30-xs {
  padding-right: 30px !important;
}

/*padding x left*/
.pl-35-xs {
  padding-left: 35px !important;
}

/*padding x right*/
.pr-35-xs {
  padding-right: 35px !important;
}

/*padding x left*/
.pl-40-xs {
  padding-left: 40px !important;
}

/*padding x right*/
.pr-40-xs {
  padding-right: 40px !important;
}

/*padding x left*/
.pl-45-xs {
  padding-left: 45px !important;
}

/*padding x right*/
.pr-45-xs {
  padding-right: 45px !important;
}

/*padding x left*/
.pl-50-xs {
  padding-left: 50px !important;
}

/*padding x right*/
.pr-50-xs {
  padding-right: 50px !important;
}

/*padding x left*/
.pl-55-xs {
  padding-left: 55px !important;
}

/*padding x right*/
.pr-55-xs {
  padding-right: 55px !important;
}

/*padding x left*/
.pl-60-xs {
  padding-left: 60px !important;
}

/*padding x right*/
.pr-60-xs {
  padding-right: 60px !important;
}

/*padding x left*/
.pl-65-xs {
  padding-left: 65px !important;
}

/*padding x right*/
.pr-65-xs {
  padding-right: 65px !important;
}

/*padding x left*/
.pl-70-xs {
  padding-left: 70px !important;
}

/*padding x right*/
.pr-70-xs {
  padding-right: 70px !important;
}

/*padding x left*/
.pl-75-xs {
  padding-left: 75px !important;
}

/*padding x right*/
.pr-75-xs {
  padding-right: 75px !important;
}

/*padding x left*/
.pl-80-xs {
  padding-left: 80px !important;
}

/*padding x right*/
.pr-80-xs {
  padding-right: 80px !important;
}

/*padding x left*/
.pl-85-xs {
  padding-left: 85px !important;
}

/*padding x right*/
.pr-85-xs {
  padding-right: 85px !important;
}

/*padding x left*/
.pl-90-xs {
  padding-left: 90px !important;
}

/*padding x right*/
.pr-90-xs {
  padding-right: 90px !important;
}

/* you can add custom paddings here */
/*padding y top*/
.pt-5-xs {
  padding-top: 5px !important;
}

/*padding y bottom*/
.pb-5-xs {
  padding-bottom: 5px !important;
}

/*padding y top*/
.pt-10-xs {
  padding-top: 10px !important;
}

/*padding y bottom*/
.pb-10-xs {
  padding-bottom: 10px !important;
}

/*padding y top*/
.pt-15-xs {
  padding-top: 15px !important;
}

/*padding y bottom*/
.pb-15-xs {
  padding-bottom: 15px !important;
}

/*padding y top*/
.pt-20-xs {
  padding-top: 20px !important;
}

/*padding y bottom*/
.pb-20-xs {
  padding-bottom: 20px !important;
}

/*padding y top*/
.pt-25-xs {
  padding-top: 25px !important;
}

/*padding y bottom*/
.pb-25-xs {
  padding-bottom: 25px !important;
}

/*padding y top*/
.pt-30-xs {
  padding-top: 30px !important;
}

/*padding y bottom*/
.pb-30-xs {
  padding-bottom: 30px !important;
}

/*padding y top*/
.pt-35-xs {
  padding-top: 35px !important;
}

/*padding y bottom*/
.pb-35-xs {
  padding-bottom: 35px !important;
}

/*padding y top*/
.pt-40-xs {
  padding-top: 40px !important;
}

/*padding y bottom*/
.pb-40-xs {
  padding-bottom: 40px !important;
}

/*padding y top*/
.pt-45-xs {
  padding-top: 45px !important;
}

/*padding y bottom*/
.pb-45-xs {
  padding-bottom: 45px !important;
}

/*padding y top*/
.pt-50-xs {
  padding-top: 50px !important;
}

/*padding y bottom*/
.pb-50-xs {
  padding-bottom: 50px !important;
}

/*padding y top*/
.pt-55-xs {
  padding-top: 55px !important;
}

/*padding y bottom*/
.pb-55-xs {
  padding-bottom: 55px !important;
}

/*padding y top*/
.pt-60-xs {
  padding-top: 60px !important;
}

/*padding y bottom*/
.pb-60-xs {
  padding-bottom: 60px !important;
}

/*padding y top*/
.pt-65-xs {
  padding-top: 65px !important;
}

/*padding y bottom*/
.pb-65-xs {
  padding-bottom: 65px !important;
}

/*padding y top*/
.pt-70-xs {
  padding-top: 70px !important;
}

/*padding y bottom*/
.pb-70-xs {
  padding-bottom: 70px !important;
}

/*padding y top*/
.pt-75-xs {
  padding-top: 75px !important;
}

/*padding y bottom*/
.pb-75-xs {
  padding-bottom: 75px !important;
}

/*padding y top*/
.pt-80-xs {
  padding-top: 80px !important;
}

/*padding y bottom*/
.pb-80-xs {
  padding-bottom: 80px !important;
}

/*padding y top*/
.pt-85-xs {
  padding-top: 85px !important;
}

/*padding y bottom*/
.pb-85-xs {
  padding-bottom: 85px !important;
}

/*padding y top*/
.pt-90-xs {
  padding-top: 90px !important;
}

/*padding y bottom*/
.pb-90-xs {
  padding-bottom: 90px !important;
}

/*medium devices*/
@media only screen and (min-width: 768px) {
  /*extra small devices*/
  /*padding x&y*/
  .padding-30 {
    padding: 30px 30px;
  }
  /*padding x left*/
  .pl-5 {
    padding-left: 5px !important;
  }
  /*padding x right*/
  .pr-5 {
    padding-right: 5px !important;
  }
  /*padding x left*/
  .pl-10 {
    padding-left: 10px !important;
  }
  /*padding x right*/
  .pr-10 {
    padding-right: 10px !important;
  }
  /*padding x left*/
  .pl-15 {
    padding-left: 15px !important;
  }
  /*padding x right*/
  .pr-15 {
    padding-right: 15px !important;
  }
  /*padding x left*/
  .pl-20 {
    padding-left: 20px !important;
  }
  /*padding x right*/
  .pr-20 {
    padding-right: 20px !important;
  }
  /*padding x left*/
  .pl-25 {
    padding-left: 25px !important;
  }
  /*padding x right*/
  .pr-25 {
    padding-right: 25px !important;
  }
  /*padding x left*/
  .pl-30 {
    padding-left: 30px !important;
  }
  /*padding x right*/
  .pr-30 {
    padding-right: 30px !important;
  }
  /*padding x left*/
  .pl-35 {
    padding-left: 35px !important;
  }
  /*padding x right*/
  .pr-35 {
    padding-right: 35px !important;
  }
  /*padding x left*/
  .pl-40 {
    padding-left: 40px !important;
  }
  /*padding x right*/
  .pr-40 {
    padding-right: 40px !important;
  }
  /*padding x left*/
  .pl-45 {
    padding-left: 45px !important;
  }
  /*padding x right*/
  .pr-45 {
    padding-right: 45px !important;
  }
  /*padding x left*/
  .pl-50 {
    padding-left: 50px !important;
  }
  /*padding x right*/
  .pr-50 {
    padding-right: 50px !important;
  }
  /*padding x left*/
  .pl-55 {
    padding-left: 55px !important;
  }
  /*padding x right*/
  .pr-55 {
    padding-right: 55px !important;
  }
  /*padding x left*/
  .pl-60 {
    padding-left: 60px !important;
  }
  /*padding x right*/
  .pr-60 {
    padding-right: 60px !important;
  }
  /*padding x left*/
  .pl-65 {
    padding-left: 65px !important;
  }
  /*padding x right*/
  .pr-65 {
    padding-right: 65px !important;
  }
  /*padding x left*/
  .pl-70 {
    padding-left: 70px !important;
  }
  /*padding x right*/
  .pr-70 {
    padding-right: 70px !important;
  }
  /*padding x left*/
  .pl-75 {
    padding-left: 75px !important;
  }
  /*padding x right*/
  .pr-75 {
    padding-right: 75px !important;
  }
  /*padding x left*/
  .pl-80 {
    padding-left: 80px !important;
  }
  /*padding x right*/
  .pr-80 {
    padding-right: 80px !important;
  }
  /*padding x left*/
  .pl-85 {
    padding-left: 85px !important;
  }
  /*padding x right*/
  .pr-85 {
    padding-right: 85px !important;
  }
  /*padding x left*/
  .pl-90 {
    padding-left: 90px !important;
  }
  /*padding x right*/
  .pr-90 {
    padding-right: 90px !important;
  }
  /*padding y top*/
  .pt-5 {
    padding-top: 5px !important;
  }
  /*padding y bottom*/
  .pb-5 {
    padding-bottom: 5px !important;
  }
  /*padding y top*/
  .pt-10 {
    padding-top: 10px !important;
  }
  /*padding y bottom*/
  .pb-10 {
    padding-bottom: 10px !important;
  }
  /*padding y top*/
  .pt-15 {
    padding-top: 15px !important;
  }
  /*padding y bottom*/
  .pb-15 {
    padding-bottom: 15px !important;
  }
  /*padding y top*/
  .pt-20 {
    padding-top: 20px !important;
  }
  /*padding y bottom*/
  .pb-20 {
    padding-bottom: 20px !important;
  }
  /*padding y top*/
  .pt-25 {
    padding-top: 25px !important;
  }
  /*padding y bottom*/
  .pb-25 {
    padding-bottom: 25px !important;
  }
  /*padding y top*/
  .pt-30 {
    padding-top: 30px !important;
  }
  /*padding y bottom*/
  .pb-30 {
    padding-bottom: 30px !important;
  }
  /*padding y top*/
  .pt-35 {
    padding-top: 35px !important;
  }
  /*padding y bottom*/
  .pb-35 {
    padding-bottom: 35px !important;
  }
  /*padding y top*/
  .pt-40 {
    padding-top: 40px !important;
  }
  /*padding y bottom*/
  .pb-40 {
    padding-bottom: 40px !important;
  }
  /*padding y top*/
  .pt-45 {
    padding-top: 45px !important;
  }
  /*padding y bottom*/
  .pb-45 {
    padding-bottom: 45px !important;
  }
  /*padding y top*/
  .pt-50 {
    padding-top: 50px !important;
  }
  /*padding y bottom*/
  .pb-50 {
    padding-bottom: 50px !important;
  }
  /*padding y top*/
  .pt-55 {
    padding-top: 55px !important;
  }
  /*padding y bottom*/
  .pb-55 {
    padding-bottom: 55px !important;
  }
  /*padding y top*/
  .pt-60 {
    padding-top: 60px !important;
  }
  /*padding y bottom*/
  .pb-60 {
    padding-bottom: 60px !important;
  }
  /*padding y top*/
  .pt-65 {
    padding-top: 65px !important;
  }
  /*padding y bottom*/
  .pb-65 {
    padding-bottom: 65px !important;
  }
  /*padding y top*/
  .pt-70 {
    padding-top: 70px !important;
  }
  /*padding y bottom*/
  .pb-70 {
    padding-bottom: 70px !important;
  }
  /*padding y top*/
  .pt-75 {
    padding-top: 75px !important;
  }
  /*padding y bottom*/
  .pb-75 {
    padding-bottom: 75px !important;
  }
  /*padding y top*/
  .pt-80 {
    padding-top: 80px !important;
  }
  /*padding y bottom*/
  .pb-80 {
    padding-bottom: 80px !important;
  }
  /*padding y top*/
  .pt-85 {
    padding-top: 85px !important;
  }
  /*padding y bottom*/
  .pb-85 {
    padding-bottom: 85px !important;
  }
  /*padding y top*/
  .pt-90 {
    padding-top: 90px !important;
  }
  /*padding y bottom*/
  .pb-90 {
    padding-bottom: 90px !important;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ヒラギノ角ゴ Pro W3", Meiryo, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  line-height: 24px;
  font-size: 16px;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #000;
}

h1 {
  line-height: normal;
}

h2 {
  line-height: normal;
}

h3 {
  line-height: normal;
}

h4 {
  line-height: normal;
}

h5 {
  line-height: normal;
}

h6 {
  line-height: normal;
}

.wrp {
  position: relative;
  overflow: hidden;
}

.is-wide {
  width: 100%;
}

#first-fold {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

#first-fold::after {
  content: "";
  background: url("/assets/img/slider-bg.jpg");
  width: 1350px;
  height: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  #first-fold::after {
    width: 100%;
    bottom: 15px;
  }
}

#first-fold .main-header {
  padding-left: 0;
  padding-right: 150px;
}

@media only screen and (max-width: 768px) {
  #first-fold .main-header {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px #4e4d4d;
            box-shadow: 0px 0px 18px #4e4d4d;
  }
}

#first-fold .main-header .top-header {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
}

#first-fold .main-header .top-header .logo {
  display: inline-block;
  margin-right: 35px;
}

@media only screen and (max-width: 1248px) {
  #first-fold .main-header .top-header .logo {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #first-fold .main-header .top-header .logo {
    display: block;
    margin-bottom: 15px;
  }
}

#first-fold .main-header .top-header .logo img {
  width: 246px;
  height: 38px;
}

@media only screen and (max-width: 580px) {
  #first-fold .main-header .top-header .logo img {
    width: 170px;
    height: 25px;
  }
}

#first-fold .main-header .top-header .eneos-logo {
  display: inline-block;
}

#first-fold .main-header .top-header .eneos-logo img {
  width: 240px;
  height: 30px;
}

@media only screen and (max-width: 580px) {
  #first-fold .main-header .top-header .eneos-logo img {
    width: 200px;
    height: 25px;
  }
}

#first-fold .main-header .top-header .phone-number {
  float: right;
  margin-top: -24px;
  margin-right: 20px;
}

@media only screen and (max-width: 1355px) {
  #first-fold .main-header .top-header .phone-number {
    margin-top: -14px;
  }
}

@media only screen and (max-width: 1200px) {
  #first-fold .main-header .top-header .phone-number {
    display: none;
  }
}

#first-fold .main-header .top-header .phone-number .first-pn {
  margin-top: -10px;
  border-top: 1px solid #000;
  display: inline-block;
  margin-right: 10px;
}

#first-fold .main-header .top-header .phone-number .first-pn h3 {
  line-height: 1.3;
}

@media only screen and (max-width: 1248px) {
  #first-fold .main-header .top-header .phone-number .first-pn h3 {
    line-height: 2;
  }
}

#first-fold .main-header .top-header .phone-number .first-pn h3 .fuel {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -9px;
  margin-right: 15px;
}

@media only screen and (max-width: 1248px) {
  #first-fold .main-header .top-header .phone-number .first-pn h3 .fuel {
    top: -3px;
  }
}

#first-fold .main-header .top-header .phone-number .first-pn h3 .number {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-right: 15px;
}

@media only screen and (max-width: 1355px) {
  #first-fold .main-header .top-header .phone-number .first-pn h3 .number {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1248px) {
  #first-fold .main-header .top-header .phone-number .first-pn h3 .number {
    font-size: 25px;
  }
}

#first-fold .main-header .top-header .phone-number .first-pn h3 .office {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -9px;
}

@media only screen and (max-width: 1248px) {
  #first-fold .main-header .top-header .phone-number .first-pn h3 .office {
    top: -3px;
  }
}

#first-fold .main-header .top-header .phone-number .second-pn {
  display: inline-block;
}

#first-fold .main-header .top-header .phone-number .second-pn .time {
  font-size: 14px;
  position: relative;
  top: 5px;
}

#first-fold .main-header .top-header .phone-number .second-pn .time .hours {
  margin-right: 15px;
}

#first-fold .main-header .top-header .phone-number .second-pn h3 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1;
}

@media only screen and (max-width: 1355px) {
  #first-fold .main-header .top-header .phone-number .second-pn h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1248px) {
  #first-fold .main-header .top-header .phone-number .second-pn h3 {
    font-size: 25px;
  }
}

#first-fold .main-header .nav-menu {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  padding: 8.5px;
  text-align: center;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  #first-fold .main-header .nav-menu {
    display: none;
  }
}

#first-fold .main-header .nav-menu .nav li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 110px;
}

@media only screen and (max-width: 1047px) {
  #first-fold .main-header .nav-menu .nav li {
    margin-right: 90px;
  }
}

@media only screen and (max-width: 880px) {
  #first-fold .main-header .nav-menu .nav li {
    margin-right: 45px;
  }
}

#first-fold .main-header .nav-menu .nav li:last-child {
  margin-right: 0;
}

#first-fold .main-header .nav-menu .nav li a {
  text-decoration: none;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

@media only screen and (max-width: 1047px) {
  #first-fold .main-header .nav-menu .nav li a {
    font-size: 18px;
  }
}

#first-fold .main-header .nav-menu .nav li a .tag {
  font-size: 12px;
  display: block;
  color: #7d7d7d;
}

#first-fold .main-header .banner {
  margin-top: -70px;
  background: url("/assets/img/eneos-banner.jpg");
  height: 920px;
  width: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
}

#first-fold .main-header .banner .banner-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#first-fold .main-header .banner .banner-text .faster h2 {
  font-size: 72px;
  color: #fff;
  position: relative;
  z-index: 1;
}

#first-fold .main-header .banner .banner-text .faster h2::before {
  content: "";
  background: url("/assets/img/black-rgb.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 1290px;
  height: 108px;
  z-index: -1;
}

#first-fold .main-header .banner .banner-text .faster h4 {
  font-size: 30px;
  color: #fff;
  padding: 9px 0;
  position: relative;
  z-index: 1;
}

#first-fold .main-header .banner .banner-text .faster h4::before {
  content: "";
  background: url("/assets/img/orange-rgb.png");
  position: absolute;
  top: 0;
  right: 0;
  width: 1290px;
  height: 108px;
  z-index: -1;
}

#first-fold .main-header .banner .banner-text .truck {
  position: absolute;
  left: 20%;
}

#first-fold .contact-us {
  position: absolute;
  top: 0px;
  right: 0;
}

#first-fold .contact-us a {
  display: inline-block;
}

#first-fold .contact-us a img {
  height: 150px;
  width: 150px;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 768px) {
  #first-fold .contact-us a img {
    height: 131px;
  }
}

@media only screen and (max-width: 580px) {
  #first-fold .contact-us a img {
    height: 113px;
    width: 113px;
  }
}

#first-fold .main-slider {
  margin-top: -70px;
  padding-left: 0;
  padding-right: 150px;
}

@media only screen and (max-width: 1047px) {
  #first-fold .main-slider {
    margin-top: -67px;
  }
}

@media only screen and (max-width: 768px) {
  #first-fold .main-slider {
    margin-top: 0px;
    padding-right: 0;
  }
}

#first-fold .main-slider .banner-slider .slider-box img {
  width: 100%;
}

#first-fold .main-slider .slick-dots li {
  width: 75px;
}

#first-fold .main-slider .slick-dots li button {
  width: 75px;
}

#first-fold .main-slider .slick-dots li button::before {
  content: url("/assets/img/pager.jpg");
  width: 75px;
  opacity: 1;
}

#first-fold .main-slider .slick-dots .slick-active button::before {
  content: url("/assets/img/pager-active.jpg");
  opacity: 1;
}

#first-fold .main-slider .slick-arrow {
  display: none !important;
}

#toggle {
  width: 40px;
  height: 30px;
  margin: 10px auto;
  display: none;
}

@media only screen and (max-width: 768px) {
  #toggle {
    display: block;
    position: absolute;
    right: 200px;
    top: 38px;
  }
}

@media only screen and (max-width: 580px) {
  #toggle {
    right: 140px;
    top: 30px;
  }
}

#toggle div {
  width: 100%;
  height: 5px;
  background: #000;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#toggle.on .one {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
  display: none;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 130px;
  right: 0;
  width: 50%;
  padding: 15px 50px 15px 15px;
  background: #f0f0f0;
}

@media only screen and (max-width: 580px) {
  #menu {
    top: 112px;
  }
}

#menu .toggle-menu li {
  margin-bottom: 30px;
}

#menu .toggle-menu li a {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

#menu .toggle-menu li a .tag {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

#delivery {
  background: url("/assets/img/delivery-bg.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: visible;
}

#delivery .overlay {
  padding: 70px 0;
  background: rgba(0, 0, 0, 0.7);
}

#delivery .delivery-box {
  position: relative;
  z-index: 1;
}

#delivery .delivery-box .title {
  margin-bottom: 50px;
}

#delivery .delivery-box .title h3 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
  width: 300px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#delivery .delivery-box .title h3 span {
  color: #eb6100;
}

#delivery .delivery-box .title h4 {
  font-size: 18px;
  color: #fff;
  font-family: "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ヒラギノ角ゴ Pro W3", Meiryo, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}

#delivery .delivery-box .text-site {
  margin-bottom: 40px;
}

#delivery .delivery-box .text-site p {
  color: #fff;
  font-size: 16px;
}

#delivery .delivery-box .inquiry {
  color: #f8b551;
  margin-bottom: 60px;
}

#delivery .delivery-box .inquiry .text {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
  position: relative;
  top: -2px;
}

@media only screen and (max-width: 448px) {
  #delivery .delivery-box .inquiry .text {
    font-size: 14px;
  }
}

#delivery .delivery-box .inquiry .number {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 500;
}

@media only screen and (max-width: 448px) {
  #delivery .delivery-box .inquiry .number {
    font-size: 45px;
  }
}

#delivery .delivery-box .details-btn a {
  color: #000;
  background: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 20px;
  width: 300px;
  text-align: center;
  font-weight: 500;
}

#delivery .eneos-truck {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 0;
}

#delivery .eneos-truck img {
  width: 830px;
  height: 520px;
}

@media only screen and (max-width: 998px) {
  #delivery .eneos-truck img {
    width: 100%;
    height: 350px;
  }
}

#area {
  background: #000;
  padding: 40px 0;
  position: relative;
}

#area::before {
  content: "";
  background: url("/assets/img/linear.png");
  position: absolute;
  top: 0;
  height: 383px;
  width: 1000px;
}

@media only screen and (max-width: 998px) {
  #area::before {
    width: 100%;
  }
}

#area .area-box {
  color: #fff;
  padding: 20px;
  background: url("/assets/img/area-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  margin-top: 35px;
}

@media only screen and (max-width: 767px) {
  #area .area-box {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

#area .area-box .title h3 {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#area .area-box .title h3 .area {
  margin-right: 35px;
}

#area .area-box .title h3 .a {
  color: #fff799;
}

#area .area-box .title h3 .da {
  font-size: 18px;
}

#area .area-box .content p {
  font-size: 13px;
}

#area .area-box .content p span {
  margin-left: 80px;
}

#area .circle {
  text-align: center;
}

#company {
  padding: 70px 0;
  margin: 50px 0;
  position: relative;
}

#company::before {
  content: "";
  background: url("/assets/img/company-bg.jpg");
  position: absolute;
  top: 0;
  width: 100%;
  height: 486px;
}

@media only screen and (max-width: 768px) {
  #company::before {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #company .company-box {
    margin-bottom: 30px;
  }
}

#company .company-box .title h3 {
  font-size: 48px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  width: 300px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#company .company-box .title h3 span {
  color: #eb6100;
}

#company .company-box .profile {
  margin-bottom: 45px;
}

#company .company-box .profile p {
  font-size: 18px;
}

#company .company-box .company-btn a {
  background: #000;
  color: #fff;
  font-size: 14px;
  width: 300px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
}

#company .truck-yt img {
  width: 100%;
}

#advantage {
  padding-top: 190px;
  padding-bottom: 40px;
  margin-top: 100px;
  background: #000;
  position: relative;
}

@media only screen and (max-width: 998px) {
  #advantage .md-8 {
    display: none;
  }
}

#advantage::before {
  content: "";
  background: url(/assets/img/advantage-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  top: -50px;
  height: 420px;
  width: 900px;
}

@media only screen and (max-width: 998px) {
  #advantage::before {
    width: 350px;
    height: 150px;
    top: 30px;
  }
}

@media only screen and (max-width: 405px) {
  #advantage::before {
    width: 300px;
  }
}

#advantage .advantage-box {
  color: #fff;
}

#advantage .advantage-box .title h3 {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 18px;
}

#advantage .advantage-box .title h3 span {
  color: #eb6100;
}

#advantage .advantage-box .content p {
  font-size: 16px;
  margin-bottom: 38px;
}

#advantage .advantage-box .content .btn a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  background: #fff;
  display: inline-block;
  width: 300px;
  text-align: center;
  padding: 15px;
}

#recruit {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 90px;
  background: #000;
  position: relative;
}

@media only screen and (max-width: 998px) {
  #recruit {
    padding-top: 160px;
    margin-top: -1px;
  }
}

#recruit::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  background: url("/assets/img/recruit-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  width: 900px;
}

@media only screen and (max-width: 998px) {
  #recruit::after {
    width: 350px;
    height: 150px;
    top: 0;
  }
}

@media only screen and (max-width: 425px) {
  #recruit::after {
    width: 300px;
  }
}

#recruit .recruit-box {
  color: #fff;
}

#recruit .recruit-box .title h3 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  width: 360px;
  text-align: right;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  #recruit .recruit-box .title h3 {
    width: 100%;
  }
}

#recruit .recruit-box .title h3 span {
  color: #eb6100;
}

#recruit .recruit-box .content p {
  font-size: 14px;
  text-align: right;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  #recruit .recruit-box .content .btn {
    float: right;
  }
}

#recruit .recruit-box .content .btn a {
  font-size: 14px;
  text-decoration: none;
  background: #fff;
  color: #000;
  display: inline-block;
  width: 360px;
  padding: 15px;
  text-align: center;
}

#business {
  padding-top: 70px;
  padding-bottom: 115px;
  position: relative;
}

#business::before {
  content: "";
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  height: 550px;
  width: 960px;
}

@media only screen and (max-width: 768px) {
  #business::before {
    width: 100%;
  }
}

#business .title {
  text-align: center;
  margin-bottom: 50px;
}

#business .title h3 {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  width: 300px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 18px;
}

#business .title h3 span {
  color: #eb6100;
}

#business .title p {
  font-size: 18px;
}

#business .business-slider .slider-img {
  position: relative;
}

#business .business-slider .slider-img img {
  width: 100%;
}

#business .business-slider .slider-img p {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #business .business-slider .slick-arrow {
    display: none !important;
  }
}

#business .business-slider .slick-prev {
  left: -50px;
  top: 45%;
}

#business .business-slider .slick-prev::before {
  content: url("/assets/img/arrow-left.png");
}

#business .business-slider .slick-next {
  right: -50px;
  top: 45%;
}

#business .business-slider .slick-next::before {
  content: url("/assets/img/arrow-right.png");
}

#news {
  padding: 70px 0;
}

#news .latest-box .title {
  margin-bottom: 50px;
}

#news .latest-box .title h3 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  width: 300px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#news .latest-box .title h3 span {
  color: #eb6100;
}

#news .latest-box .title p {
  font-size: 18px;
}

#news .latest-box .btn a {
  font-size: 14px;
  color: #fff;
  background: #000;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  width: 300px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  #news .news-box {
    margin-top: 30px;
  }
}

#news .news-box ul li {
  padding: 25px;
  border-top: 2px solid #000;
}

#news .news-box ul li:last-child {
  border-bottom: 2px solid #000;
}

#news .news-box ul li .date {
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  width: 90px;
  display: inline-block;
}

#news .news-box ul li .box {
  color: #eb6100;
  border: 2px solid #eb6100;
  font-size: 12px;
  margin-right: 30px;
  width: 80px;
  display: inline-block;
  text-align: center;
}

#news .news-box ul li .text {
  font-size: 13px;
}

@media only screen and (max-width: 767px) {
  #news .news-box ul li .text {
    display: block;
    margin-top: 10px;
  }
}

#main-footer {
  padding: 50px 0;
  position: relative;
  background: #000;
  color: #fff;
  border-top: 3px solid #eb6100;
}

@media only screen and (max-width: 767px) {
  #main-footer {
    display: none;
  }
}

#main-footer .title h5 {
  font-size: 18px;
  padding: 0 10px 20px 10px;
  height: 40px;
}

#main-footer .menu-list {
  padding: 10px;
  border-top: 1px solid #7d7d7d;
}

#main-footer .menu-list ul .name {
  font-size: 18px;
  margin-bottom: 25px;
}

#main-footer .menu-list ul li {
  margin-bottom: 15px;
}

#main-footer .menu-list ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

#main-footer .menu-btn {
  padding: 0;
  border: 0;
}

#main-footer .menu-btn ul li {
  margin-bottom: 0;
  border-top: 1px solid #7d7d7d;
}

#main-footer .menu-btn ul li:last-child {
  border-bottom: 1px solid #7d7d7d;
}

#main-footer .menu-btn ul li a {
  padding: 15px 10px;
  font-size: 18px;
  display: inline-block;
  width: 100%;
}

#main-footer .go-top {
  position: absolute;
  top: -30px;
  right: 160px;
}

@media only screen and (max-width: 767px) {
  #main-footer .go-top {
    display: none;
  }
}

#main-footer .go-top a {
  font-size: 14px;
  color: #fff;
  background: #f39800;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  width: 245px;
  display: inline-block;
  -webkit-box-shadow: 0px 4px 10px #333;
          box-shadow: 0px 4px 10px #333;
}

#copyright {
  background: #1b1b1b;
  padding: 15px 0;
}

@media only screen and (max-width: 725px) {
  #copyright {
    text-align: center;
  }
}

#copyright .copyright-btn {
  float: left;
}

@media only screen and (max-width: 725px) {
  #copyright .copyright-btn {
    float: none;
    margin-bottom: 10px;
  }
}

#copyright .copyright-btn ul li {
  display: inline-block;
  border-right: 1px solid #fff;
  line-height: 1;
  padding-right: 20px;
  padding-left: 20px;
}

#copyright .copyright-btn ul li:last-child {
  border-right: 0;
}

#copyright .copyright-btn ul li:first-child {
  padding-left: 0;
}

#copyright .copyright-btn ul li a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

#copyright .copyright-text {
  float: right;
}

@media only screen and (max-width: 725px) {
  #copyright .copyright-text {
    float: none;
  }
}

#copyright .copyright-text p {
  font-size: 12px;
  font-family: "Arial";
  color: #fff;
  font-weight: 300;
}

.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /* you can add custom gap here */
  /* you can add custom column here but not applicable because we max it into 12cols i/12 */
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.gap.gap-5-xs {
  margin-left: -5px;
  margin-right: -5px;
}

.gap.gap-5-xs > [class^="xs"] {
  padding-left: 5px;
  padding-right: 5px;
}

.gap.gap-5-xs > [class*=" xs"] {
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-5 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .gap.gap-5 > [class^="md"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .gap.gap-5 > [class*=" md"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.gap.gap-10-xs {
  margin-left: -10px;
  margin-right: -10px;
}

.gap.gap-10-xs > [class^="xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

.gap.gap-10-xs > [class*=" xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.gap.gap-15-xs {
  margin-left: -15px;
  margin-right: -15px;
}

.gap.gap-15-xs > [class^="xs"] {
  padding-left: 15px;
  padding-right: 15px;
}

.gap.gap-15-xs > [class*=" xs"] {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-15 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .gap.gap-15 > [class^="md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-15 > [class*=" md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.gap.gap-20-xs {
  margin-left: -20px;
  margin-right: -20px;
}

.gap.gap-20-xs > [class^="xs"] {
  padding-left: 20px;
  padding-right: 20px;
}

.gap.gap-20-xs > [class*=" xs"] {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-20 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gap.gap-20 > [class^="md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-20 > [class*=" md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.gap.gap-25-xs {
  margin-left: -25px;
  margin-right: -25px;
}

.gap.gap-25-xs > [class^="xs"] {
  padding-left: 25px;
  padding-right: 25px;
}

.gap.gap-25-xs > [class*=" xs"] {
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-25 {
    margin-left: -25px;
    margin-right: -25px;
  }
  .gap.gap-25 > [class^="md"] {
    padding-left: 25px;
    padding-right: 25px;
  }
  .gap.gap-25 > [class*=" md"] {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.gap.gap-30-xs {
  margin-left: -30px;
  margin-right: -30px;
}

.gap.gap-30-xs > [class^="xs"] {
  padding-left: 30px;
  padding-right: 30px;
}

.gap.gap-30-xs > [class*=" xs"] {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-30 {
    margin-left: -30px;
    margin-right: -30px;
  }
  .gap.gap-30 > [class^="md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-30 > [class*=" md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.gap.gap-35-xs {
  margin-left: -35px;
  margin-right: -35px;
}

.gap.gap-35-xs > [class^="xs"] {
  padding-left: 35px;
  padding-right: 35px;
}

.gap.gap-35-xs > [class*=" xs"] {
  padding-left: 35px;
  padding-right: 35px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-35 {
    margin-left: -35px;
    margin-right: -35px;
  }
  .gap.gap-35 > [class^="md"] {
    padding-left: 35px;
    padding-right: 35px;
  }
  .gap.gap-35 > [class*=" md"] {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.gap.gap-40-xs {
  margin-left: -40px;
  margin-right: -40px;
}

.gap.gap-40-xs > [class^="xs"] {
  padding-left: 40px;
  padding-right: 40px;
}

.gap.gap-40-xs > [class*=" xs"] {
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (min-width: 768px) {
  .gap.gap-40 {
    margin-left: -40px;
    margin-right: -40px;
  }
  .gap.gap-40 > [class^="md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-40 > [class*=" md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.gap .xs-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

@media only screen and (min-width: 768px) {
  .gap .md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

@media only screen and (min-width: 768px) {
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

.gap .xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media only screen and (min-width: 768px) {
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.gap .xs-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

@media only screen and (min-width: 768px) {
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Containers
*
* How to use container classes :
*
*  Ex: <div class="cntr-1200 mlr-auto"> // adding mlr-auto (margin-left and right : auto to center the container)</div>
*
*/
/* you can add custom container size here */
.cntr-1920 {
  position: relative;
  max-width: 1920px;
  width: 100%;
}

@media only screen and (max-width: 1920px) {
  .cntr-1920 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1500 {
  position: relative;
  max-width: 1500px;
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .cntr-1500 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1350 {
  position: relative;
  max-width: 1350px;
  width: 100%;
}

@media only screen and (max-width: 1350px) {
  .cntr-1350 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1300 {
  position: relative;
  max-width: 1300px;
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .cntr-1300 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1290 {
  position: relative;
  max-width: 1290px;
  width: 100%;
}

@media only screen and (max-width: 1290px) {
  .cntr-1290 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1261 {
  position: relative;
  max-width: 1261px;
  width: 100%;
}

@media only screen and (max-width: 1261px) {
  .cntr-1261 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1200 {
  position: relative;
  max-width: 1200px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .cntr-1200 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1140 {
  position: relative;
  max-width: 1140px;
  width: 100%;
}

@media only screen and (max-width: 1140px) {
  .cntr-1140 {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.cntr-1000 {
  position: relative;
  max-width: 1000px;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .cntr-1000 {
    padding-left: 2%;
    padding-right: 2%;
  }
}
