/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

/* Oswald Fonts */
$oswald: 'Oswald', sans-serif;

/*font sizes*/
$font-sizes : 16;

/*extra small devices*/
@each $current-fs in $font-sizes {
	$i: index($font-sizes, $current-fs);
	.fs-#{nth($font-sizes, $i)}-xs { 
        font-size: $current-fs+px;
    }
}
/*medium devices*/
@include mq(min, $default_val) {
	@each $current-fs in $font-sizes {
		$i: index($font-sizes, $current-fs);
	    .fs-#{nth($font-sizes, $i)} { 
	        font-size: $current-fs+px;
	    }
	}
}


/*line heights*/
$line-heights: 24;

/*extra small devices*/
@each $current-lh in $line-heights {
	$i: index($line-heights, $current-lh);
	.lh-#{nth($line-heights, $i)}-xs { 
        line-height: $current-lh+px;
    }
}
/*medium devices*/
@include mq(min, $default_val) {
	@each $current-lh in $line-heights {
		$i: index($line-heights, $current-lh);
		.lh-#{nth($line-heights, $i)} { 
	        line-height: $current-lh+px;
	    }
	}
}

/*font weights*/
$font-weights: 400 500 600 700 800;

@each $current-fw in $font-weights {
	$i: index($font-weights, $current-fw);
	.fw-#{nth($font-weights, $i)} { 
        font-weight: $current-fw;
    }
}
