.gap {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
	/*gaps*/
	/*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/

	$gap : 0 5 10 15 20 25 30 35 40; /* you can add custom gap here */

	@each $current-gap in $gap {
		$i: index($gap, $current-gap);
		&.gap-#{nth($gap, $i)}-xs { 
	        margin-left: -$current-gap+px;
	        margin-right: -$current-gap+px;
	        > [class^="xs"] {
				padding-left: $current-gap+px;
				padding-right: $current-gap+px;
			}
			> [class*=" xs"] {
				padding-left: $current-gap+px;
				padding-right: $current-gap+px;
			}
	    }
	    @include mq(min, $default_val) {
	    	&.gap-#{nth($gap, $i)} { 
		        margin-left: -$current-gap+px;
		        margin-right: -$current-gap+px;
		        > [class^="md"] {
					padding-left: $current-gap+px;
					padding-right: $current-gap+px;
				}
				> [class*=" md"] {
					padding-left: $current-gap+px;
					padding-right: $current-gap+px;
				}
		    }
	    }
	}

	$cols : 12 8 6 4 3; /* you can add custom column here but not applicable because we max it into 12cols i/12 */
	@each $current-cols in $cols {
		$i: index($cols, $current-cols);
		$val : percentage(nth($cols, $i) / 12);
		
		.xs-#{nth($cols, $i)} { 
			flex: 0 0 $val;
        	max-width: $val;
	    }

		
	    @include mq(min, $default_val) {
	    	.md-#{nth($cols, $i)} { 
	        	flex: 0 0 $val;
        		max-width: $val;
		    }
	    }
	}
}