/*breakpoints
*

.test {
	color: blue;
	@include mq(min, 768) {
	
		color: red;
	}
}
*
*/
$default_val: 768;
@mixin mq($range: min, $val: 768) {
    @media only screen and(#{$range}-width: #{$val}px) {
        @content;
    }
}

@mixin mq($range: max, $val: 768) {
    @media only screen and(#{$range}-width: #{$val}px) {
        @content;
    }
}

@mixin forIE() {
/* IE 10+ */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       @content;
    }
}
