/* MARGINS
*
* How to use margin classes :
*
*  Ex: <div class="ml-20 mr-20 mt-20 mb-20"> </div>
*	ml: margin-left
*	mr: margin-right
*	mb: margin-bottom
*	mt: margin-top
*/
.mlr-auto { /* this will set your container centered */
	margin-left: auto;
	margin-right: auto;
}

$margins-xy: 30; /* you can add custom margins here */
/*extra small devices*/
@each $current-margins-xy in $margins-xy {
	$i: index($margins-xy, $current-margins-xy);
	/*margin x&y*/
	.margin-#{nth($margins-xy, $i)}-xs { 
        margin: $current-margins-xy+px $current-margins-xy+px;
    }
}

$margins-x: 30; /* you can add custom margins here */
@each $current-margins-x in $margins-x {
	$i: index($margins-x, $current-margins-x);
    /*margin x left*/
    .ml-#{nth($margins-x, $i)}-xs { 
        margin-left: $current-margins-x+px!important;
    }
    /*margin x right*/
    .mr-#{nth($margins-x, $i)}-xs { 
        margin-right: $current-margins-x+px!important;
    }
}

$margins-y: 30; /* you can add custom margins here */
@each $current-margins-y in $margins-y {
	$i: index($margins-y, $current-margins-y);
    /*margin y top*/
    .mt-#{nth($margins-y, $i)}-xs { 
        margin-top: $current-margins-y+px!important;
    }
    /*margin y bottom*/
    .mb-#{nth($margins-y, $i)}-xs { 
        margin-bottom: $current-margins-y+px!important;
    }
}
/*medium devices*/
@include mq(min, $default_val) {
	/*extra small devices*/
	@each $current-margins-xy in $margins-xy {
		$i: index($margins-xy, $current-margins-xy);
		/*margin x&y*/
		.margin-#{nth($margins-xy, $i)} { 
	        margin: $current-margins-xy+px $current-margins-xy+px;
	    }
	}

	@each $current-margins-x in $margins-x {
		$i: index($margins-x, $current-margins-x);
	    /*margin x left*/
	    .ml-#{nth($margins-x, $i)} { 
	        margin-left: $current-margins-x+px!important;
	    }
	    /*margin x right*/
	    .mr-#{nth($margins-x, $i)} { 
	        margin-right: $current-margins-x+px!important;
	    }
	}
	@each $current-margins-y in $margins-y {
		$i: index($margins-y, $current-margins-y);
	    /*margin y top*/
	    .mt-#{nth($margins-y, $i)} { 
	        margin-top: $current-margins-y+px!important;
	    }
	    /*margin y bottom*/
	    .mb-#{nth($margins-y, $i)} { 
	        margin-bottom: $current-margins-y+px!important;
	    }
	}
}



$paddings-xy: 30; /* you can add custom paddings here */
/*extra small devices*/
@each $current-paddings-xy in $paddings-xy {
	$i: index($paddings-xy, $current-paddings-xy);
	/*padding x&y*/
	.padding-#{nth($paddings-xy, $i)}-xs { 
        padding: $current-paddings-xy+px $current-paddings-xy+px;
    }

}

$paddings-x: 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90; /* you can add custom paddings here */
@each $current-paddings-x in $paddings-x {
	$i: index($paddings-x, $current-paddings-x);
    /*padding x left*/
    .pl-#{nth($paddings-x, $i)}-xs { 
        padding-left: $current-paddings-x+px!important;
    }
    /*padding x right*/
    .pr-#{nth($paddings-x, $i)}-xs { 
        padding-right: $current-paddings-x+px!important;
    }
}
$paddings-y: 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90; /* you can add custom paddings here */
@each $current-paddings-y in $paddings-y {
	$i: index($paddings-y, $current-paddings-y);
    /*padding y top*/
    .pt-#{nth($paddings-y, $i)}-xs { 
        padding-top: $current-paddings-y+px!important;
    }
    /*padding y bottom*/
    .pb-#{nth($paddings-y, $i)}-xs { 
        padding-bottom: $current-paddings-y+px!important;
    }
}
/*medium devices*/
@include mq(min, $default_val) {
	/*extra small devices*/
	@each $current-paddings-xy in $paddings-xy {
		$i: index($paddings-xy, $current-paddings-xy);
		/*padding x&y*/
		.padding-#{nth($paddings-xy, $i)} { 
	        padding: $current-paddings-xy+px $current-paddings-xy+px;
	    }
	}

	@each $current-paddings-x in $paddings-x {
		$i: index($paddings-x, $current-paddings-x);
	    /*padding x left*/
	    .pl-#{nth($paddings-x, $i)} { 
	        padding-left: $current-paddings-x+px!important;
	    }
	    /*padding x right*/
	    .pr-#{nth($paddings-x, $i)} { 
	        padding-right: $current-paddings-x+px!important;
	    }
	}
	@each $current-paddings-y in $paddings-y {
		$i: index($paddings-y, $current-paddings-y);
	    /*padding y top*/
	    .pt-#{nth($paddings-y, $i)} { 
	        padding-top: $current-paddings-y+px!important;
	    }
	    /*padding y bottom*/
	    .pb-#{nth($paddings-y, $i)} { 
	        padding-bottom: $current-paddings-y+px!important;
	    }
	}
}